/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Light theme */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground); */
  /* --font-sans: "Geist Sans", sans-serif; */
  /* --font-mono: "Geist Mono", monospace;
} */

/* Dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body { */
  /* @apply bg-[var(--background)] text-[var(--foreground)] font-sans antialiased; */
  /* Reset body margin */
/* 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

/* 
.body-container{
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin-left: 320px;
  margin-right: 320px;
}
*{ */
   /* font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin:0px;
} */

@media (max-width:768px) {
    .body-container{
        margin-left: 0px;
  margin-right: 0px;
    }
}