/* ====================
   GENERAL STYLES
==================== */
.solutions-main {
  font-family: "Montserrat", sans-serif;
  color: #222;
  line-height: 1.6;
  margin-bottom: 60px;
}

.solution-body-container {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  z-index: 5;
}

/* ====================
   HERO SECTION
==================== */
.hero {
  position: relative;
  background: url("/assets/solution/banner.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  /* dark overlay for text visibility */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* darken background */
  z-index: 0;
  pointer-events: none; /* let hover pass through */
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 80vw;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.hero-content.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.hero h1 {
  font-size: 3rem;
  width: 100%;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.3;
  color: #2b9119;
}

.hero p {
  display: flex;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #eaeaea;
}

.primary-btn {
  background: #fff;
  color: #2b9119;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size:1.2rem;
}

.primary-btn:hover {
  background: #88af81;
}

/* ====================
   SECTION
==================== */
.section {
  padding: 70px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2.8rem;
  color: #2b9119;
  margin-bottom: 40px;
  font-weight: 700;
}

/* ====================
   CARD GRID
==================== */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  justify-items: center;
}

.card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 20px 10px;
  max-width: none;
  width: 100%;
  height: 100%;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 2rem;
  color: #2b9119;
  margin-bottom: 10px;
}
.card h3{
  font-size: 1.2rem;
}

.card p{
  font-size: 0.8rem;
}


/* ====================
   solution-card-grid
==================== */
.solution-card-grid{
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: stretch;
}
.solution-card-grid div:nth-child(1){
  grid-column: span 3;
}

.solution-card-grid div:nth-child(5){
  grid-column: span 2;
}
/* ====================
   BENEFITS
==================== */
.benefits-list {
  margin-top: 0;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  top: 0;
}
/* style={{display:'flex', flexDirection:'row', alignItems:'center', justifyContent:'center'}} */
.benefits-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.benefits-container p{
  font-size: 1rem;
}
.benefits-img{
  width:450px;
  height: 250px;
}
/* ====================
   INDUSTRY SOLUTIONS
==================== */
.industry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.industry-grid div:nth-child(7) {
  grid-column: span 3;
}

.industry-card {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 25px;
  background: #fff;
  transition: all 0.3s ease;
}

.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.industry-card h3 {
  color: #2b9119;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.industry-card p{
  font-size: 1.1rem;
}
.analytics-text{
  font-size: 1.1rem;
}
/* ====================
   CTA
==================== */
.cta-banner {
  background: #2b9119;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  border-radius: 12px;
}

.cta-banner h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.cta-banner p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}



/* for big screen */
@media (max-width:1024px) {
  
 .hero {
  position: relative;
  background: url("/assets/solution/banner.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
}

.hero-content.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.hero h1 {
  font-size: 2.5rem;
  width: 100%;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 1.3;
  color: #2b9119;
}

.hero p {
  max-width: 80%;
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  background: #fff;
  color: #2b9119;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.section {
  padding: 70px 20px;
  text-align: center;
}
.solution-body-container{
  margin: 0px;
}
.section h2 {
  font-size: 2rem;
  font-weight: 900;
}


.card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px 5px;
  max-width: none;
  width: 100%;
  height: 100%;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 2rem;
  color: #2b9119;
  margin-bottom: 10px;
}

.card h3{
  font-size: 1.4rem;
}
.card p{
  font-size: 1rem;
}



.solution-card-grid{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-items: stretch;
}
.solution-card-grid div:nth-child(1){
  grid-column: span 2;
}

.solution-card-grid div:nth-child(5){
  grid-column: span 1;
}


.benefits-container{
  display: flex;
  flex-direction: row;
}


.industry-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.industry-card {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.industry-card h3 {
  color: #2b9119;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.industry-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.industry-grid div:nth-child(1) {
  grid-column: span 2;
}
.industry-grid div:nth-child(7) {
  grid-column: span 1;
}
.benifits-section{
  font-size: 2rem;
}
.benefits-img{
  width: 30rem;
  height: 16rem;
}
.analytics-text{
  font-size: 1.4rem;
}

.cta-banner{
 margin-left: 5vw;
 margin-right: 5vw;
 padding: 10px 5px;
}
.cta-banner h2{
   font-size: 2rem; 
   margin-bottom: 0px;
}
.cta-banner p{
   font-size: 1.1rem;
      margin-bottom: 20px;

}
.cta-banner button{
    font-size: 1.1rem;
}
}

@media (max-width: 768px) {

 .hero {
  position: relative;
  background: url("/assets/solution/banner.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
}

.hero-content.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.hero h1 {
  font-size: 2.2rem;
  width: 100%;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 1.3;
  color: #2b9119;
}

.hero p {
  max-width: 80%;
  font-size: 1.1rem;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  background: #fff;
  color: #2b9119;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.1rem;
}

.solution-body-container{
  margin: 0px;

}
.section {
  padding: 70px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  font-weight: 900;
}

.solution-card-grid{
   display: flex;
  gap: 25px;
  flex-direction: column;
}
.card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px 5px;
  max-width: none;
  width: 100%;
  height: 100%;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 2rem;
  color: #2b9119;
  margin-bottom: 10px;
}

.card h3{
  font-size: 1.3rem;
}
.card p{
  font-size: 1rem;
}

.benefits-container{
  display: flex;
  flex-direction: row;
}

.benefits-img{
  width: 50vw ;
  height:30vw;
}



.solution-card-grid{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-items: stretch;
}
.solution-card-grid div:nth-child(1){
  grid-column: span 2;
}

.solution-card-grid div:nth-child(5){
  grid-column: span 1;
}


.industry-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.industry-card {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.industry-card h3 {
  color: #2b9119;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.industry-card p {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.industry-grid div:nth-child(1) {
  grid-column: span 2;
}
.industry-grid div:nth-child(7) {
  grid-column: span 1;
}

.analytics-text{
  font-size: 1.2rem;
}

.cta-banner{
 margin-left: 5vw;
 margin-right: 5vw;
 padding: 10px 5px;
}
.cta-banner h2{
   font-size: 1.6rem; 
   margin: 0px;
}
.cta-banner p{
   font-size: 1.2rem; 
}
.cta-banner button{
    font-size: 1.1rem;
}

}

@media (max-width: 480px){
 .hero {
  position: relative;
  background: url("/assets/solution/banner.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.hero-content.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.hero h1 {
  font-size: 1.8rem;
  width: 100%;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 1.3;
  color: #2b9119;
}

.hero p {
  font-size:0.9rem;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #eaeaea;
}

.primary-btn {
  background: #fff;
  color: #2b9119;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.section {
  padding: 70px 20px;
  text-align: center;
}

.section h2 {
  font-size: 1.4rem;
  font-weight: 900;
}
.solution-body-container {
  margin-left: 0px;
  margin-right: 0px;
}


.card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px 5px;
  max-width: none;
  width: 100%;
  height: 100%;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}
.card-icon {
  font-size: 2.5rem;
  color: #2b9119;
  margin-bottom: 10px;
}

.card h3{
  font-size: 1.1rem;
}
.card p{
  font-size: 0.9rem;
}


.solution-card-grid{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-items: stretch;
}
.solution-card-grid div:nth-child(1){
  grid-column: span 2;
}

.solution-card-grid div:nth-child(5){
  grid-column: span 1;
}

.industry-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.industry-card {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.industry-card h3 {
  color: #2b9119;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.industry-grid div:nth-child(1) {
  grid-column: span 2;
}
.industry-grid div:nth-child(7) {
  grid-column: span 1;
}
.benefits-img{
  width: 90vw;
  height: 30vh;
}

.benefits-container{
  flex-direction: column;
}

.analytics-text{
  font-size: 0.9rem;
}
.benifits-section h2{
  font-size: 1.4rem;
}

.cta-banner h2{
    font-size: 1.4rem; 
    margin-bottom: 0px;
}

.cta-banner p{
    font-size: 0.9rem; 
    margin-bottom: 15px;
}

}

@media (max-width: 360px){
   .hero {
  position: relative;
  background: url("/assets/solution/banner.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 60px 10px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.hero-content.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.hero h1 {
  font-size: 1.4rem;
  width: 95%;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 1.3;
  color: #2b9119;
}

.hero p {
  font-size:0.9rem;
  margin-bottom: 4rem;
  line-height: 1.7;
  color: #eaeaea;
}

.primary-btn {
  background: #fff;
  color: #2b9119;
  border: none;
  padding: 20px 40px;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.section {
  padding: 70px 20px;
  text-align: center;
}

.section h2 {
  font-size: 1.3rem;
  font-weight: 900;
}
.solution-body-container {
  margin-left: 0px;
  margin-right: 0px;
}

.card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px 5px;
  max-width: none;
  width: 100%;
  height: 100%;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}

.card-icon {
  font-size: 1.5rem;
  color: #2b9119;
  margin-bottom: 10px;
}

.card h3{
  font-size: 1rem;
}
.card p{
  font-size: 0.9rem;
}

.industry-grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.industry-card {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

.industry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.industry-card h3 {
  color: #2b9119;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.benifits-section{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.benifits-section h2{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.benefits-list{
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}

.benefits-img{
  width: 90vw;
  height: 30vh;
}

.benefits-container{
  flex-direction: column;
}
.analytics-text{
  font-size: 1rem;
  padding-bottom:15vh;
}
.cta-banner{
 margin-left: 2vw;
 margin-right: 2vw;
 padding: 10px 5px;
}
.cta-banner h2{
   font-size: 1.3rem; 
   margin-bottom: 0px;
}
.cta-banner p{
   font-size: 0.9rem; 
}
}